body {
	background-color: #FFFDD7;
}

.posts {
	background-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08);
}